:root {
  --jhBrown: rgb(35, 31, 32);
  --jhBrownOpacity: rgba(35, 31, 32, 0.4);
  --jhOffWhite: rgb(255, 247, 247);
  --jhWhite: rgb(255, 255, 255);
  --jhPink: rgba(134, 96, 146, 1);
  --jhPinkOpacity: rgba(134, 96, 146, 0.4);
  --jhDebugframe: rgba(255, 0, 0, 0);
}

@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 200;
  src: local('Noto Serif TC ExtraLight'), local('NotoSerifTC-ExtraLight'), url(https://fonts.gstatic.com/s/notoseriftc/v2/XLY9IZb5bJNDGYxLBibeHZ0Bvr8vXX5MTA.otf) format('opentype');
  font-display: swap;
}

body {
  background-color: var(--jhWhite);
  color: var(--jhBrown);
  font-size: calc(10px + 0.5vw);
  font-family: 'Noto Serif TC', serif;
  font-weight: 200;
  margin: 2vw 10vw 10vw;
}

body>* {
  margin-bottom: 10vw;
}

header {
  border-bottom: solid 1px var(--jhBrownOpacity);
}

footer {
  border-top: solid 1px var(--jhBrownOpacity);
}

a {
  background-color: var(--jhBrownOpacity);
  color: black;
  padding: 0.5em 1.5em 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

a:hover {
  background-color: var(--jhPinkOpacity);
}

a:active {
  background-color: black;
}

section>p {
  margin-bottom: 3vw;
}

#front img {
  float: right;
  max-width: 50%;
}

img {
  float: right;
  max-width: 50%;
}