:root {
  --dummyBrown: rgb(35, 31, 32);
  --dummyOffWhite: rgb(244, 241, 245);
  --dummyPink: rgba(134, 96, 146, 1);
}

@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 200;
  src: local('Noto Serif TC ExtraLight'), local('NotoSerifTC-ExtraLight'), url(https://fonts.gstatic.com/s/notoseriftc/v2/XLY9IZb5bJNDGYxLBibeHZ0Bvr8vXX5MTA.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Thasadith';
  font-style: normal;
  font-weight: 400;
  src: local('Thasadith Regular'), local('Thasadith-Regular'), url(https://fonts.gstatic.com/s/thasadith/v2/mtG44_1TIqPYrd_f5R1ot0MV8ia-Fg.woff2) format('woff2');
  font-display: swap;
}

body {
  background-color: var(--dummyOffWhite);
  color: var(--dummyBrown);
  font-size: calc(13px + 0.5vw);
  font-family: 'Noto Serif TC', serif;
  font-weight: 200;
  margin: 2vw 10vw 10vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Thasadith', sans-serif;
  font-size: 2em;
  margin-bottom: 0;
}

article, footer, header {
  margin-bottom: 2vw;
}

article {
  overflow: auto;
}

header {
  border-bottom: solid 1px var(--dummyPink);
  margin: 20vw 0;
  text-align: center;
}

footer {
  border-top: solid 1px var(--dummyPink);
}

a {
  color: black;
  text-decoration: none;
  transition: text-decoration 0.5s ease;
}

a:hover {
  text-decoration: underline;
}

#article img {
  float: right;
}

footer {
  margin-top: 15vw;
  text-align: center;
}

#article img {
  width: 40%;
}

#front img {
  width: 100%;
}

#front #articles {
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: 45% 45%;
}

@media only screen and (max-width:609px) {
  body {
    margin: 3%;
  }
  #front #articles {
    grid-template-columns: 100%;
  }
  #article img {
    width: 100%;
  }
}